import React from 'react';
import styles from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = () => <div className={styles['c-{{kebabCase name}}']}>{{pascalCase name}} component</div>;

{{pascalCase name}}.defaultProps = {};

export default {{pascalCase name}};
