import React from 'react';
import styles from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = () => <div className={styles['p-{{kebabCase name}}']}>page {{pascalCase name}}</div>;

{{pascalCase name}}.defaultProps = {};

export default {{pascalCase name}};
